name: Resourcepack CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:  
    - uses: actions/checkout@v1
    - name: Set identity
      run:  |
        git config --global user.email "rorkh@internet.ru"
        git config --global user.name "Rorkh"
    - name: Zip resourcepack
      run: |
        cd resourcepack
        zip -r resourcepack.zip *
        mv resourcepack.zip ../resourcepack.zip
    - name: Generate SHA1
      run: sha1sum resoucepack.zip | awk '{print $1}' | awk '{$1=$1}1' > sha1
    - name: switching from HTTPS to SSH
      run: git remote set-url origin ${{ secrets.ssh }}
    - name: check for changes
      run: git status
    - name: stage changed files
      run: git add .
    - name: commit changed files
      run: git commit -m "Resourcepack auto release"
    - name: pull
      run: git pull origin resourcepack
    - name: push code to main
      run: git push origin HEAD:refs/heads/resourcepack